body {
    background-color: #61122f;
    font-size: 16px;
    color: #fff;
    font-family: 'Oxygen', sans-serif;
}

#header-nav {
    background-color: #f6b310;
    border-radius: 0px;
    border: 0px;
}

#logo-img {
   background: url('Images/restaurant-logo_large.png') no-repeat;      
    height: 150px;
    width: 150px;
    margin: 10px 15px 10px 0;
}

.navbar-header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.navbar-brand {
    padding-top: 25px;
   }

.navbar-brand h1 {      /*  name  */
    font-family: 'Lora', serif;
    color: #557c3e;
    font-size: 1.5em;
    text-transform:uppercase;
    font-weight: bold;
    text-shadow: 1px 1px 1px #222;
    margin-top: 0px;
    margin-bottom: 0px;
    line-height: 1;
}

.navbar-brand a:hover .navbar-brand a:focus {
    text-decoration: none;
}

.navbar-brand p {/*  certification  */
color: #000;
text-transform: uppercase;
margin-top: 15px;
font-size: .7em;
}

.navbar-brand p span {
    vertical-align:middle;
}